<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1 class="head">
					Roll Call App 
				</h1><br/>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
        <div class="btn-group-horizontal" role="group" aria-label="Default button group">
            <a href="#/attendance">
	            <button type="button" class="btn btn-lg btn-block menu"><i class="fa fa-check-square-o fa-3x fltfa" ></i><span class="menuTXT">Take Attendance</span></button><br/>
    		</a>
          <a href="#/student">
            <button type="button" class="btn btn-lg btn-block menu"><i class="fa fa-user fa-3x fltfa" ></i><span class="menuTXT">Add a Student</span></button><br/>
        </a>
        </div>
    </div>
	</div>
</div>